.error-msg {
  color: red;
}

.main-container {
  max-width: 100vw;
  min-height: 100vh;
  margin: 40px 0;
}

.heading {
  font-size: 24px;
}

.form-group textarea {
  resize: none;
}

button svg {
  font-size: 20px;
}
table tbody tr td {
  padding: 4px 7px !important;
}

table {
  overflow-x: auto;
}

td {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  padding: 3px;
  font-size: 15px;
}
